p {
    font-family: Roboto, Arial;
    margin:0px;
}

.video-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-top:10px;
}

.video-numbers {
    color: rgb(86, 85, 85);
    margin-bottom: 30px;
    font-size: 15px;
}

.video-author {
   margin-top:20px;
    font-size: 15px;
}

.video-description {
   
    line-height: 22px
}

.offer {
    background-color: orange;
    text-align: center;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.offer-link {
    text-decoration: underline;
}

.offer-link:hover {
    cursor: pointer;
}
.tmbl-img{width:300px;
    object-fit: cover;}

.video-infos{display: inline-block;
margin:20px;
vertical-align: top;}

.avatar,.video-text{display: inline-block;
    vertical-align: top;}
.avatar{width:50px;
    margin-top:10px;}
.video-text{width:200px}

.avatar-img{width:100%;
    vertical-align: top;
border-radius: 50px;}